@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


:root {
    --header-height: 3rem;
    --title-color: #0B0A0A;
    --text-color: #403A3A;
    --text-color-light: #707070;
    --container-color: #FAFAFA;
    --container-color-alt: #F0EFEF;
    --body-color: #FCFCFC;

    --body-font: 'Poppins',
        sans-serif;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    --font-medium: 500;
    --font-semi-bold: 600;

    --mb-1: .5rem;
    --mb-2: 1rem;
    --mb-3: 1.5rem;

    --z-tooltip: 10;
    --z-fixed: 100;

}




*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;

}


body {
    margin: 0 0 var(--header-height) 0;
    padding: 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3,
ul,
p {

    margin: 0 .2em;
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    padding: 1.5rem ..2em;
    margin: 1em 0;

}

.section-title {
    font-size: var(--h2-font-size);
    color: var(--title-color);
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    letter-spacing: .35rem;
    text-align: center;
    margin-bottom: var(--mb-3);
}


.bd-container {
    max-width: 968px;
    width: calc(100% -3rem);
    margin-left: var(--mb-3);
    margin-right: var(--mb-3);
}

.bd-grid {
    display: grid;
    gap: 1.5rem;
}

header {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
    box-shadow: 0 -1px 4px rgba(0, 0, 0, .1);
    transition: .3s;
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (min-width:768px) {

    .skills_link {
        display: grid;
        grid-template-columns: repeat(5, 1fr) !important;
    }
}

@media screen and (max-width:968px) {

    .skills_link {
        grid-template-columns: repeat(5, 1fr);
    }

    .nav_menu {
        position: fixed;
        bottom: -100%;
        left: 0;
        width: 100%;
        padding: 2rem 1.5rem;
        background-color: var(--body-color);
        box-shadow: 0 -1px 4px rgba(0, 0, 0, .1);
        border-radius: 1rem 1rem 0 0;
        z-index: var(--z-fixed);
        transition: .3s;
    }

}




.nav_logo,
.nav_toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

.nav_toggle {
    font-size: 1.2rem;
    cursor: pointer;
}

.nav_item {
    text-align: center;
}

.nav_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

.nav_link {
    display: flex;
    flex-direction: column;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    font-weight: var(--font-medium);
}

.nav_link:hover {
    color: var(--title-color);
}

.bx {
    font-size: 1.2rem;
    margin-bottom: var(--mb-1);
}

.show-menu {
    bottom: var(--header-height);
}

.active-link {
    color: var(--title-color);
}

.home {
    position: relative;
    gap: 3rem;
    text-align: center;
}

address {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: var(--mb-2);
    text-align: start;
    margin-left: var(--mb-2);
}

address .bx {
    font-size: 1.6rem;
    margin-right: var(--mb-1);



}

.home img {
    justify-self: center;
    border-radius: 50%;
    width: 220px;
    height: 180px;
    margin-bottom: var(--mb-1);
}

.pdf {
    display: inline-block;
    border: .2em solid var(--text-color);
    color: var(--title-color);
    padding: 1rem 2rem;
    border-radius: .25rem;
    transition: .3s;
    font-weight: var(--font-medium);
    margin-top: var(--mb-3);
}

.social {
    grid-template-columns: max-content;
    gap: 1rem;

    text-align: center;
}

.social .social_link {
    display: inline-flex;
    align-items: center;
    margin-left: var(--mb-1);
}

.social .social_link a {
    font-size: var(--small-font-size);
    color: var(--text-color);
}

.social .social_link a:hover {
    color: var(--title-color);
}

.social .social_link i {
    font-size: 1.6rem;
}

.profil h2 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.profil p {
    text-align: center;
    color: var(--text-color-light);
}

.resume {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 968px) {
    body {
        margin: 3em 0;
    }

    .experience-education {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;

    }

    .resume {
        display: grid;
        grid-template-columns: .5fr 1fr;
        background-color: var(--container-color);
    }

    .skills_link {

        grid-template-columns: 5fr 1fr;

    }


    header {
        display: none;
    }

}

.certification_data {
    margin: 0 auto;
}

.certification_data ul li {

    text-align: center;
}

.certification_data ul li:nth-child(odd) {

    background-color: #707070;
    color: #F0EFEF;
}

.education_content,
.experience_content,
.certification_content {
    display: flex;
}

.education_time,
.experience_time {
    padding-right: 1rem;
}

.education_rounded,
.experience_rounded {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: var(--text-color-light);
    margin-top: .25rem;
}

.education_line:nth-child(1n),
.experience_line:nth-child(1n) {
    /* margin-left: 50%; */
    padding-top: .4em;
}

.education_line:nth-last-child(),
.experience_line:nth-last-child() {
    height: 5vh;
    align-self: flex-start;
}

.education_line,
.experience_line {
    display: block;
    width: 2px;
    height: 100%;
    background-color: var(--text-color-light);
    transform: translate(7px, 0);
}

.education_title,
.experience_title,
.certification_title {
    font-size: var(--h3-font-size);
    color: var(--title-color);
    /* margin-bottom: var(--mb-1); */
}

.education_data,
.experience_data,
.certification_data {
    gap: .5rem;
    width: 100%;
}

.education_title,
.experience_localisation {
    font-size: var(--h3-font-size);
    color: var(--container-color-alt);
    background-color: var(--text-color);
    padding: .2em;
    width: 90%;
}

.certification_localisation {
    font-size: var(--small-font-size);
    color: var(--title-color);
}

.education_years,
.experience_years,
.certification_years {
    font-size: var(--smaller-font-size);

}

.education-title,
.skills-title,
.experience-title,
.certification-title,
.workon-title {
    text-transform: uppercase;
    text-align: center;
}

.skills_link {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    padding-left: 1em;
}

.experience-education {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

}

.workon_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--container-color-alt);
    text-align: center;
}


.workon_link i {
    font-size: 2.1em;
    color: #707070;
    padding-top: var(--mb-1);
}

.workon_link a {
    font-size: 1.6em;
    color: #707070;
}